# Ignore everything
*

# Except the following files:
!.gitignore
!*.ipynb
!*.py

# ..even if they are in sub-folders
!*/

# sync metadata 
!metadata/
#!metadata/*  # dont sync content


# Ignore jupyter nb checkpoints (which contains ipynb files)
*.ipynb_checkpoints/
*.ipynb_checkpoints/*
